 
@media (max-width:385px){
    :root{
        --bgbutton-:rgb(94, 185, 240);
        --colorbutton-:rgb(255, 255, 255);
        --paragrafos-: rgb(96,105,123);
        --subtitulos-:rgb(52,63,82);
        --footer-:rgb(52,63,82);
        --font-principal-:font-family: "Urbanist", sans serif;}
.container{
    width: 100%;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
   padding: 0 3%;
}
/* menu hamburguer */
nav .btn-hamburguer{
    display: flex;
}
/* menu hamburguer */
nav .container-links{
    display: none;

}
header .bg-onda{
    width: 100%;
}
/* INICIO ESTILIZAÇÃO MAIN */
/* SECÇÃO CENTRAL INICIO */
.apresentacao{
   justify-content: center;
    flex-direction: column;;
}
.apresentacao .especializacao{
    width: 100%;
    margin: 30px 10px;
    text-align: start;
}
 .especializacao h1{
  margin: 30px auto;
   width: 90%;
    text-align: initial;
    justify-content: center;
    font-size:30px; 
}
.especializacao p{
    font-size: 20px;
    width: 90%;
 
}
.especializacao .btn-iniciar{
margin-left: 150px;
font-size: 15px;
}

main .apresentacao img{  
    max-width: 95%;
    
} 

/* SECÇÃO CENTRAL FIM */

/* COMENTARIO INICIO */
.comentario{
    margin-top: 40px;
    font-size: 15px;
}
/* COMENTARIO FIM */

/* CONTAINER DE IMAGENS INICIO */
.container-imagens{
    gap: 40px;
    flex-direction: column;
    margin:60px 150px;
}
.container-imagens .lista-logo{
width: 200px;
height: 40px;
}
/* CONTAINER DE IMAGENS FIM */

/* COMENTARIO - 2 INICIO */
.comentario-2{
    color: var(--bgbutton-);
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
/* COMENTARIO - 2 FIM */
.chamada{
    font-size:30px;
   text-align: start;
    width:90%;
    margin: 0 20px;
}
/* OQUE OFERECEMOS INICIO */
.servicos-oferecidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 150px;
}
.servicos-oferecidos .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 338px;
}

.servicos-oferecidos .card .servico{
    padding-block: 30px;
    color: var(--subtitulos-);
}
.servicos-oferecidos .card p{
    font-size: 17px;
    font-weight: bolder;
    color: var(--paragrafos-);
    text-align: center;
    margin-bottom: 30px;
}
.servicos-oferecidos .card .seta-direita{
    margin-bottom: 30px ;
}
/* OQUE OFERECEMOS FIM */

/* SETOR FINAL (INICIO) */
.solucoes-oferecidas{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
    margin-inline: 20px;
}
.solucoes-oferecidas .texto-descritivo{
    width: 100%;
    padding: 0 ;
 
}
.solucoes-oferecidas .texto-descritivo .comentario-3{
    font-size: 18px;
  margin-left: 10PX;
    
}
.solucoes-oferecidas .texto-descritivo h2{
    font-size:30px;
    align-items: center;
    margin: 10px 20px 30px 20px;

}
.solucoes-oferecidas .texto-descritivo p{
    margin: 10px 20px 30px 20px;

}
.solucoes-oferecidas .texto-descritivo .btn-informacoes{
    margin-bottom: 30px;
   margin-left: 10px;
}
/* SETOR FINAL (FINAL) */
/* SETOR FINAL - CARDS (INICIO) */

aside .cartoes{
    width: 90%;
    margin-inline: 10px;
   
}
aside .cartoes.cartao-centro{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-inline: 10px;
}

}

/* RESPONSIVO TELA MAIORES */
 
@media (max-width:431px){
    :root{
        --bgbutton-:rgb(94, 185, 240);
        --colorbutton-:rgb(255, 255, 255);
        --paragrafos-: rgb(96,105,123);
        --subtitulos-:rgb(52,63,82);
        --footer-:rgb(52,63,82);
        --font-principal-:font-family: "Urbanist", sans serif;}
.container{
    width: 100%;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
   padding: 0 3%;
}
/* menu hamburguer */
nav .btn-hamburguer{
    display: flex;
}
/* menu hamburguer */
nav .container-links{
    display: none;

}
header .bg-onda{
    width: 100%;
}
/* INICIO ESTILIZAÇÃO MAIN */
/* SECÇÃO CENTRAL INICIO */
.apresentacao{
   
   justify-content: center;
    flex-direction: column;;
}
.apresentacao .especializacao{
    width: 100%;
    margin: 30px 10px;
    text-align: start;
}
 .especializacao h1{
  margin: 30px auto;
   width: 90%;
    text-align: initial;
    justify-content: center;
    font-size:30px; 
}
.especializacao p{
    font-size: 20px;
    width: 90%;
 
}
.especializacao .btn-iniciar{
margin-left: 150px;
}

main .apresentacao img{   
    max-width: 95%;
} 

/* SECÇÃO CENTRAL FIM */

/* COMENTARIO INICIO */
.comentario{
    margin-top: 40px;
    font-size: 15px;
}
/* COMENTARIO FIM */

/* CONTAINER DE IMAGENS INICIO */
.container-imagens{
    gap: 40px;
    flex-direction: column;
    margin:60px 150px;
}
.container-imagens .lista-logo{
width: 200px;
height: 40px;
}
/* CONTAINER DE IMAGENS FIM */

/* COMENTARIO - 2 INICIO */
.comentario-2{
    color: var(--bgbutton-);
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
/* COMENTARIO - 2 FIM */
.chamada{
    font-size:30px;
   text-align: start;
    width:90%;
    margin: 0 20px;
}
/* OQUE OFERECEMOS INICIO */
.servicos-oferecidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 150px;
}
.servicos-oferecidos .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 338px;
}

.servicos-oferecidos .card .servico{
    padding-block: 30px;
    color: var(--subtitulos-);
}
.servicos-oferecidos .card p{
    font-size: 17px;
    font-weight: bolder;
    color: var(--paragrafos-);
    text-align: center;
    margin-bottom: 30px;
}
.servicos-oferecidos .card .seta-direita{
    margin-bottom: 30px ;
}
/* OQUE OFERECEMOS FIM */

/* SETOR FINAL (INICIO) */
.solucoes-oferecidas{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
    margin-inline: 20px;
}
.solucoes-oferecidas .texto-descritivo{
    width: 100%;
    padding: 0 ;
}
.solucoes-oferecidas .texto-descritivo .comentario-3{
    font-size: 18px;
  margin-left: 10PX;
    
}
.solucoes-oferecidas .texto-descritivo h2{
    font-size:30px;
    align-items: center;
    margin: 10px 10px 30px ;

}
.solucoes-oferecidas .texto-descritivo p{
    margin: 10px 10px 30px ;

}
.solucoes-oferecidas .texto-descritivo .btn-informacoes{
    margin-bottom: 30px;
   margin-left: 10px;
}
/* SETOR FINAL (FINAL) */
/* SETOR FINAL - CARDS (INICIO) */

aside .cartoes{
    width: 90%;
    margin-inline: 10px;
   
}
aside .cartoes.cartao-centro{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-inline: 10px;
}

}


/* Responsivo tablet */
@media (max-width:52.1875rem){
    :root{
        --bgbutton-:rgb(94, 185, 240);
        --colorbutton-:rgb(255, 255, 255);
        --paragrafos-: rgb(96,105,123);
        --subtitulos-:rgb(52,63,82);
        --footer-:rgb(52,63,82);
        --font-principal-:font-family: "Urbanist", sans serif;}
.container{
    width: 100%;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
   padding: 0 3%;
}
/* menu hamburguer */
nav .btn-hamburguer{
    display: flex;
}
/* menu hamburguer */
nav .container-links{
    display: none;

}
header .bg-onda{
    width: 100%;
}
/* INICIO ESTILIZAÇÃO MAIN */
/* SECÇÃO CENTRAL INICIO */
.apresentacao{
   
   justify-content: center;
    flex-direction: column;;
}
.apresentacao .especializacao{
    width: 100%;
    margin: 1.875em .625em;
    text-align: start;
}
 .especializacao h1{
  margin: 30px auto 30px 150px;
   width: 90%;
    text-align: initial;
    justify-content: center;
    font-size:54px; 
}
.especializacao p{
    font-size: 35px;
    width: 90%;
 
}
.especializacao .btn-iniciar{
margin-right: 450px;
margin-bottom: 40px;
}

main .apresentacao img{   
    max-width: 95%;
}   

/* SECÇÃO CENTRAL FIM */

/* COMENTARIO INICIO */
.comentario{
    margin-top: 2.5em;
    font-size: 25px;
}
/* COMENTARIO FIM */

/* CONTAINER DE IMAGENS INICIO */
.container-imagens{
    gap: 2.5rem;
    flex-direction: column;
    margin:3.75em 9.37em;
    
}
.container-imagens .lista-logo{
width: 12.5em;
height: 2.5em;
}
/* CONTAINER DE IMAGENS FIM */

/* COMENTARIO - 2 INICIO */
.comentario-2{
    color: var(--bgbutton-);
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 2.5em 0;
}
/* COMENTARIO - 2 FIM */
.chamada{
    font-size:45px;
   text-align: start;
    width:90%;
    margin: 0 1.25em;
}
/* OQUE OFERECEMOS INICIO */
.servicos-oferecidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    
}
.servicos-oferecidos .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.servicos-oferecidos .card .designer-imagens{
    margin: 40px 20px;
width: 800px;
}

.servicos-oferecidos .card .servico{
    padding-block: 1.875rem;
   font-size: 45px;

}
.servicos-oferecidos .card p{
    font-size: 30px;
    width: 800px;
}
.servicos-oferecidos .card a{
    font-size: 20px;
   display: flex;
   
}
.servicos-oferecidos .card a .seta-direita{
    margin-bottom: 1.875rem ;
    width: 20px;
}
/* OQUE OFERECEMOS FIM */

/* SETOR FINAL (INICIO) */
.solucoes-oferecidas{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5.625rem;
    margin-inline: 1.25rem;
}
.solucoes-oferecidas .texto-descritivo{
    width: 100%;
    padding: 0 ;
}
.solucoes-oferecidas .texto-descritivo .comentario-3{
    font-size: 1.125rem;
  margin-left: 10PX;
    
}
.solucoes-oferecidas .texto-descritivo h2{
    font-size:45px;
    align-items: center;
    margin: .625rem .625rem 1.875rem ;

}
.solucoes-oferecidas .texto-descritivo p{
    margin: .625rem .625rem 1.875rem ;
    font-size: 30px;

}
.solucoes-oferecidas .texto-descritivo .btn-informacoes{
    width: 150px;
    font-size: 18px;
    margin-bottom: 1.875rem;
   margin-left: .625rem;
}
/* SETOR FINAL (FINAL) */
/* SETOR FINAL - CARDS (INICIO) */

aside .cartoes{
    width: 700px;
    margin-inline: .625rem;
   
}
aside .cartoes.cartao-centro{
   width: 43.75rem;
    display: flex;
    margin-inline: .625em;
}
aside .cartoes .number{
    margin-inline:40px;
}
aside .cartoes h4{
    font-size: 25px;
}
aside .cartoes .cartao-texto{
    font-size: 20px;
    font-weight: bolder;
    color: var(--paragrafos-);
}

}