/* @media (width<=835px) {
    .container {
        width: 835px;

    }

    nav {
        justify-content: flex-start;
        margin-bottom: 30px
    }



    nav .navbar {
        display: flex;
        border: none;
        background-color: transparent;
        margin: 30px 6%;
    }

    nav .box-logo {

        display: flex;
        align-items: center;
        padding: 0 0 0 1.875rem;

    }

    nav button {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 6%;
        border: none;
        background-color: transparent;
    }

    .nav-list {
        display: none;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: 800px;
    }

    article h2 {

        font-size: 3.75rem;
        width: 80%;
        margin: .625rem 9.375rem 1.875rem;
    }

    article p {

        font-size: 24px;
    }

    article .btn-iniciar {
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
    }

    .section-banner {
        display: flex;
        flex-direction: column;
    }

    span {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        margin: 30px 0 30px 0;
    }

    .container-img .ul-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logo-marcas {
        width: 500px;
        height: 90px;
        margin-bottom: 70px;
        margin-top: 70px;

    }

}


/* responsive queries para 22.5rem */


/* @media (width<=24.625rem) {

    .container {
        width: 24.625rem;
        overflow: hidden;
    }

    nav {
        justify-content: flex-start;
        margin-bottom: 30px
    }



    nav .navbar {
        display: flex;
        border: none;
        background-color: transparent;
        margin: 30px 6%;
    }

    nav .box-logo {

        display: flex;
        align-items: center;
        padding: 0 0 0 1.875rem;

    }

    nav button {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 6%;
        border: none;
        background-color: transparent;
    }

    .nav-list {
        display: none;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        width: 300px;
    }

    article h2 {
        font-size: 30px;
        width: 100%;
        margin: 10px 35px;
    }

    article p {
        text-align: justify;
        font-size: 15px;
    }

    article .btn-iniciar {
        margin-bottom: 30px;
    }

    .section-banner {
        display: flex;
        flex-direction: column;
    }

    span {
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin: 1.875rem 0 1.875rem 0;
    }

    .container-img .ul-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logo-marcas {
        width: 11.25rem;
        height: 3.125rem;
        margin-bottom: 1.25rem;

    }

} */

@media (max-width:384px) {
    .container {
        width: 384px;
    }

    nav .navbar {
        display: flex;
        margin-right: 6%;
    }

    .nav-list {
        display: none;
    }

    .section-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article .funcoes {
        margin: 30px 6%;
        text-align: unset;
        font-size: 40px;
        width: auto;
    }

    article .btn-iniciar {
        margin-bottom: 30px;
    }

    section img {
        width: 350px;
        margin: 0 10px;
    }

    .span {
        font-size: 15px;
        margin: 35px 0;
    }

    .conteiner-img .ul-img {
        align-items: center;
        flex-direction: column;
        margin: 0 10px;
    }

    .img-logo {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        margin: 30px 0;
    }

    .chamada {
        margin: 40px;
        text-align: start;
        font-size: 40px;
    }

    .card-tools {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .card-tools article .text-2 {
        font-size: 18px;
        margin: 30px 10px;
        width: 80%;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .rodape .informacao {
        width: 100%;
    }
}

.rodape .projects {
    width: 90%;
}

.rodape .text {
    width: 90%;
}

aside {
    margin: 0px 20px 0 30px;
    justify-content: center;
   margin: none;
}

aside .card-1 {
margin: 30px 0;
width: 100%;
    height: 90px;

}

.btn-fim{
    margin-bottom: 0;
}
.card-1.card-4{
    margin: 0 0 0 0px;
    }
.card-1 p {
    font-size: 12px;
}
