

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans serif;
    list-style: none;
}


:root{
    --bgbutton-:rgb(94, 185, 240);
    --colorbutton-:rgb(255, 255, 255);
    --paragrafos-: rgb(96,105,123);
    --subtitulos-:rgb(52,63,82);
    --footer-:rgb(52,63,82);
    --font-principal-:font-family: "Urbanist", sans serif;
}
/* estilização links inicio */
a{
    text-decoration: none;
    color: var(--paragrafos-);
    font-weight: bold;
    display: flex;
    gap:5px;
}
/* estilização links fim */
.container{
    width: 1330px;
}
nav{
    
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

/* menu hamburguer */
nav .btn-hamburguer{
    display: none;
}
/* menu hamburguer */
nav .container-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-right: 100px;
}

/* Botão de contatos inicio */
nav .container-links .btn-contatos{
    background-color: var(--bgbutton-);
    border: none;
    width: 90px;
    padding-block: 9px;
    border-radius: 50px;
    cursor: pointer;
    transition: 154ms;
    color:var(--colorbutton-) ;
    font-weight: bolder;
}
nav .container-links .btn-contatos:hover{
    transform: scale(1.1);
}
/* botão de contatos fim */

/* INICIO ESTILIZAÇÃO MAIN */
/* SECÇÃO CENTRAL INICIO */
.apresentacao{
    display: flex;
    align-items: center;
    
}
.apresentacao .especializacao{
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    
}
.especializacao h1{
    color: var(--subtitulos-);
    width: 500px;
    font-size:45px;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
h1 mark{
    background-color: var(--colorbutton-);
    color: var(--bgbutton-);
}
.especializacao p{
    font-size: 25px;
    color: var(--paragrafos-);
    width: 500px;
    margin-bottom: 30px;
}
.especializacao .btn-iniciar{
    background-color: var(--bgbutton-);
    border: none;
    width: 100px;
    padding-block: 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: 154ms;
    color:var(--colorbutton-) ;
    font-weight: bolder;
    margin-right: 350px;
}
.especializacao .btn-iniciar:hover{
    transform: scale(1.1);
}
/* main .apresentacao img{    -----> SELETOR IMAGEN CENTRAL MOBILE <-------
} */

/* SECÇÃO CENTRAL FIM */

/* COMENTARIO INICIO */
.comentario{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
    color: var(--paragrafos-);
}
/* COMENTARIO FIM */

/* CONTAINER DE IMAGENS INICIO */
.container-imagens{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin:60px 150px;
}
.container-imagens .lista-logo{
width: 100%;
}
/* CONTAINER DE IMAGENS FIM */

/* COMENTARIO - 2 INICIO */
.comentario-2{
    color: var(--bgbutton-);
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
/* COMENTARIO - 2 FIM */
.chamada{
    font-size:45px;
    color: var(--subtitulos-);
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 15%;
}
/* OQUE OFERECEMOS INICIO */
.servicos-oferecidos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 150px;
}
.servicos-oferecidos .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 338px;
}

.servicos-oferecidos .card .servico{
    padding-block: 30px;
    color: var(--subtitulos-);
}
.servicos-oferecidos .card p{
    font-size: 17px;
    font-weight: bolder;
    color: var(--paragrafos-);
    text-align: center;
    margin-bottom: 30px;
}
.servicos-oferecidos .card .seta-direita{
    margin-bottom: 30px ;
}
/* OQUE OFERECEMOS FIM */

/* SETOR FINAL (INICIO) */
.solucoes-oferecidas{
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}
.solucoes-oferecidas .texto-descritivo{
    width: 55%;
    padding:0 30px 0 150px;
    
}
.solucoes-oferecidas .texto-descritivo .comentario-3{
    color: var(--bgbutton-);
    font-size: 20px;
    font-weight: bolder;  
    
}
.solucoes-oferecidas .texto-descritivo h2{
    
    font-size:40px;
    color: var(--subtitulos-);
    margin: 10px 80px 30px 0;
}
.solucoes-oferecidas .texto-descritivo p{
    font-size: 18px;
    color: var(--paragrafos-);
    margin: 10px 150px 20px 0;
}
.solucoes-oferecidas .texto-descritivo .btn-informacoes{
    background-color: var(--bgbutton-);
    border: none;
    width: 120px;
    padding-block: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: 154ms;
    color:var(--colorbutton-) ;
    font-weight: bolder;
    margin-right: 350px;
}
/* SETOR FINAL (FINAL) */
/* SETOR FINAL - CARDS (INICIO) */

aside .cartoes{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 40px;
    background-color: #ffffff00;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
aside .cartoes.cartao-centro{
position: static;
margin-left: 30px;
}

aside .cartoes .number{
    padding: 15px;
    border-radius: 50px;
    margin: 10px;

    background-color:rgba(94, 184, 240, 0.288) ;
    color: var(--bgbutton-);
    font-weight: bolder;
}

