*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Urbanist", sans-serif;

}


.container{
  width: 83.125rem;
margin: 0 auto;
}
header{
  overflow: hidden;
}

nav{
 position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
height: 8vh;
}

nav .navbar{
   display: none; 
  border: none;
  background-color: transparent;
}
.nav-list{
  display: flex;
  align-items: center;
}

.nav-list .li-img{
  display: flex;

 margin-left: 2.5rem;
 font-weight: bold;
}

.li-img a{
  display: flex;
  gap: .25rem;
  align-items: center;
  font-size: .9375rem;
}
.li-img .btn-contatos{
  margin: 0 40px;
  width: 5.625rem;
  padding: 0.652rem;
  border-radius:3.125rem;
  outline: none;
  border: none;
 font-weight: bold;
 color: #fff;
 background-color: #5eb9f0;
 transition: 1.3s;
 box-shadow: rgba(94, 185, 240) 0rem 1.875rem 3.75rem -0.75rem, rgba(10, 149, 235, 0.082) 0rem 1.125rem 2.25rem -1.125rem;
 }
 .li-img .btn-contatos:hover{
  transform: scale(1.1);
 }


/* inicio do estio da main */
main{
  
  background-color: #f6f6f7;
}
section{
  display: flex;
  align-items: center;
}

article .funcoes{

  font-size: 3.375rem;
  margin-left: 6.875rem;
  width:31.25rem;
margin: 9.375rem 0 1.875rem 6.875rem; 
}
.funcoes mark{
  background-color: transparent;
  color: #5eb9f0;
}
article .text-1{
  text-align: center;
  font-size: 1.375rem;
  color:rgb(96,105,123);
margin: 0 10%;
}
 article .btn-iniciar{
  margin: 1.25rem 23% 0 ;
  width: 6.25rem;
  padding: .625rem;
  border-radius:3.125rem;
  outline: none;
  border: none;
 font-weight: bold;
 color: #fff;
 cursor: pointer;
 background-color: rgb(94, 185, 240);
 transition: 1.3s;
 box-shadow: rgba(94, 185, 240) 0rem 1.875rem 3.75rem -0.75rem, rgb(10, 148, 235) 0rem 1.125rem 2.25rem -1.125rem;
 }
 article .btn-iniciar:hover{
  transform: scale(1.1);
 }

section img{
  width: 100%;
}
.span{
  display: flex;
  justify-content: center;
  margin: 5.625rem 0 30px 0;
}
.conteiner-img .ul-img{
display: flex;
justify-content: space-around;

width: 100%;
}

  .logo-marcas{
  width:8.125rem;
  
}

.description{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #5eb9f0;
  margin:30px 30px;
}
.chamada{
  font-size: 54px;
  margin: 0 150PX;
  text-align: center;
  margin-bottom: 60PX;
}

.card-tools{
  display: flex;
  justify-content: space-around;
  margin: 0 8px;
}
.card-tools article{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-tools article img{
  width: 350px;
  padding-bottom: 30px;
}
.card-tools article h3{
  margin-bottom: 30px;
  font-size: 25px;
}

.card-tools article .text-2{
  font-size: 23px;
  text-align: center;
  line-height: 40px;
  width: 400px;
}
.card-tools article a{
  display: flex;
  gap: 10px;
  margin-top: 30px;
  color: #5eb9f0;
  font-weight: bolder;
}
.card-tools article .seta-btn{
  width: 20px;
}
.rodape{
  background-color: #fff;

}
.rodape .informacao{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 100px;
  width: 50%;


}
.outros{
  justify-content: flex-start;
  color: #5eb9f0;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 30px 30px;

}
.rodape .projects{
  font-size: 40px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;

}
.rodape .text{
margin-top: 30px;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(97, 91, 91);
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.btn-fim{
  width: 150px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  background-color: #5eb9f0;
  color: #fff;
  padding-block: 12px;
  margin: 30px;
  cursor: pointer;
  transition: 1.54s;
}
.btn-fim:hover{
  transform: scale(1.1);
}
aside{
  margin:0 60px;
  display: flex;
  flex-direction: column;
  
}
aside .card-1{
  display: flex;
 align-items: center;
 background-color: #ebeaea4c;
 box-shadow: rgba(50, 50, 93, 0.197) 0px 30px 60px -12px, rgba(0, 0, 0, 0.163) 0px 18px 36px -18px;
border-radius: 10px;
width:500px ;
cursor: pointer;

}
.card-1 .number{
  margin: 30px;
  background-color: #5eb8f058;
  padding: 25px;
  border-radius: 50px;
  font-size: 25px;
  color: #fff;
}
.card-1.card-4{
  margin-left: 60px;
  margin: 30px 60px;
}
.card-1 h4{
  font-size: 18px;
  margin: 8px 0;
  font-weight: bold;
}
.card-1 p{
  color: #00000086;
  font-size: 18px;
  
}






